.nav-bar {
    background-color: transparent;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
}

.burger-wrapper {
    margin: 0.333rem;
    align-self: flex-end;
}

.marquee-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marquee-item {
    margin: 0.5rem;
}

.tab-menu-wrapper {
    margin-top: 1.5rem;
}

.tab-menu {
    min-width: 100vw;
    display: flex;
    justify-content: center;
}
