
.nav-container {
    display: flex;
    padding: 0.5rem;
    justify-content: flex-end;
}

.app-container {
    min-height: 100vh;
}

.card-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
}
