.nav-bar {
    background-color: transparent;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
}

.burger-wrapper {
    margin: 0.333rem;
    align-self: flex-end;
}

.marquee-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marquee-item {
    margin: 1rem;
}
